* {
    margin: 0;
    box-sizing: border-box;
}

.bgdc {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main1 {
    background: snow;
    width: 300px;
    height: fit-content;
    margin: 12% auto;
    overflow: auto;
}

.close {
    font: bold 25px arial;
    text-align: left;
    padding: 10px;
    background: blueviolet;
}

.close-button {
    float: right;
    font-size: 20px;
    cursor: pointer;
    padding-top: 0;
    padding-right: 15px;
}

.main2 {
    background: snow;
    margin: auto;
    height: auto;
    padding: 20px;
}



section {
    text-align: center;
    color: deepskyblue;
    float: left;
}

a {
    color: rgb(1, 8, 10);
    text-decoration: none;
}

.alignt {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font: italic 15px arial;
    align-items: flex-start;
}

.gen {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

a:hover {
    color: rgb(140, 0, 255);
}

.dateofbirth {
    display: flex;
}

.bar {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 50px;
    background: rgb(2, 120, 160);
}

.logo {
    float: left;
    position: relative;
}

.logoword {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    width: 100px;
    text-align: center;
    align-items: center;
    color: aliceblue;
}

.tab {
    float: left;
    position: relative;
    align-items: center;
    left: 80px;
    width: 400px;
    height: 80px;
}

.tab2 {
    float: right;
    position: relative;
    align-items: center;
    right: 0px;
    width: 300px;
    height: 80px;
}

.link {
    
    font: bold 20px arial;
    height: 50px;
    width: 100px;
    background-color: deepskyblue;
    border: none;
    text-align: center;
}

.btn {
    margin-top: 10px;
    font: bold 15px arial;
    height: 25px;
    width: 100%;
    background-color: deepskyblue;
    border: none;
    text-align: center;
}

.btn1 {
    font: bold 15px arial;
    margin-top: 20px;
    margin-left: 50px;
    height: 25px;
    width: 100px;
    background-color: deepskyblue;
    border: none;
    text-align: center;
}

h1 {
    font: bold 25px arial;
    text-align: center;
    padding-top: 5px;
}

h2 {
    font: bold 50px cursive black;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font: bold 30px arial;
}

form {
    position: relative;
    height: 40%;
}

.signup {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 300px;
    height: 200px;
}

.qty {
    text-align: center;
    border: 2px blueviolet;
    background-color: snow;
    width: 30px;
    height: 30px;
}

.fullpro {
    display: flex;
    width: 100%;
    height: 100%;
}

.pros {
    display: inline;
    margin: 20px;
}

.product {
    flex-direction: row;
    display: flex;
}

.cart {
    margin-top: 25px;
    padding: 0;
    height: 200px;
    width: 100%;
}

.addcart {
    position: fixed;
    right: 0;
    top: 50px;
    background-color: beige;
    width: 200px;
    height: 100%;
    flex-direction: column;
    display: flex;
}

.full {
    display: flex;
    margin-left: 400px;
    width: 100%;
    height: 100%;
}

.propic {
    float: left;
}

.text {
    font: 20px arial;
    width: 400px;
    height: 400px;
    border: 1px;
    word-wrap: break-word
}

.desc {
    font: bold 15px arial;
    margin-top: 50px;
    margin-left: 100px;
}

.title {
    text-align: center;
}

.shop {
    margin-left: 100px;
}

.topic {
    height: 100%;
    width: 40%;
    margin-left: 0px;
}
.sec{
    margin: 0;
    width: 100%;
}
.picture {
    width: 500px;
    height: 500px;
}
footer{
    width: 100%;
    text-align: center;
}
noscript{
    font: bold 30px arial;
}